/* line 2, ../sass/content.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/content.scss */
header a {
  text-decoration: none;
}
/* line 13, ../sass/content.scss */
header a h1 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

/* line 24, ../sass/content.scss */
#content article {
  border: 1px solid black;
  padding: 10px;
}
/* line 29, ../sass/content.scss */
#content article header {
  background-color: #fff;
}
/* line 32, ../sass/content.scss */
#content article header a {
  text-decoration: none;
}
/* line 37, ../sass/content.scss */
#content article header h2 {
  font-size: 1.8em;
  color: #000;
}
/* line 43, ../sass/content.scss */
#content article header p {
  font-style: italic;
  margin: 3px;
  font-size: 0.8em;
}
/* line 54, ../sass/content.scss */
#content article .post_content h3 {
  font-size: 1.4em;
  margin: 5px 0px;
}
/* line 60, ../sass/content.scss */
#content article .post_content p {
  padding: 5px;
  line-height: 25px;
}
/* line 66, ../sass/content.scss */
#content article .post_content ul {
  list-style-type: disc;
  margin-left: 25px;
}
/* line 72, ../sass/content.scss */
#content article .post_content img {
  height: auto;
  width: 100%;
}
/* line 81, ../sass/content.scss */
#content article footer p {
  font-style: italic;
  font-size: 0.7em;
}
