/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/layout.scss */
body {
  background-color: #333333;
}
/* line 8, ../sass/layout.scss */
body header {
  width: 100%;
  margin-bottom: 10px;
}
/* line 12, ../sass/layout.scss */
body header .title {
  margin: 0 auto;
  width: 75%;
  max-width: 900px;
}
/* line 18, ../sass/layout.scss */
body header .title h1 {
  margin-top: 0.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.33333em;
}
/* line 25, ../sass/layout.scss */
body #content {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 31, ../sass/layout.scss */
body #content article {
  margin: 10px 0px 40px 0px;
  padding-bottom: 30px;
}
/* line 39, ../sass/layout.scss */
body #footer {
  width: 100%;
  background-color: #3d3d3d;
}
/* line 43, ../sass/layout.scss */
body #footer .content {
  width: 75%;
  max-width: 900px;
  margin: 0 auto;
  postion: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../sass/layout.scss */
body #footer .content img {
  float: left;
  margin-top: 10px;
}
/* line 56, ../sass/layout.scss */
body #footer .content #about-me {
  max-width: 57%;
  float: left;
  margin: 10px 2%;
}
/* line 63, ../sass/layout.scss */
body #footer .content #social {
  float: left;
}
/* line 66, ../sass/layout.scss */
body #footer .content #social li {
  margin-top: 10px;
}
/* line 74, ../sass/layout.scss */
body #footer .content #social .rss,
body #footer .content #social .twitter,
body #footer .content #social .fb {
  display: block;
  height: 35px;
  padding: 4px 0 0 35px;
}
/* line 81, ../sass/layout.scss */
body #footer .content #social .fb {
  background: url(/media/style/fb-icon.png) no-repeat 0 0;
}
/* line 86, ../sass/layout.scss */
body #footer .content #social .twitter {
  background: url(/media/style/twitter-icon.png) no-repeat 0 0;
}
/* line 91, ../sass/layout.scss */
body #footer .content #social .rss {
  background: url(/media/style/rss.png) no-repeat 0 0;
}

/* line 61, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 106.25%;
}

/* line 64, ../../../../../../opt/vagrant_ruby/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 17px;
  line-height: 1.52941em;
}

/* line 11, ../sass/content.scss */
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* line 18, ../sass/content.scss */
header a {
  text-decoration: none;
}
/* line 22, ../sass/content.scss */
header a h1 {
  color: #15bae8;
  font-size: 4.23529em;
  line-height: 1.08333em;
  font-family: "Roboto Condensed", sans-serif;
}

/* line 37, ../sass/content.scss */
#content article header a {
  text-decoration: none;
}
/* line 42, ../sass/content.scss */
#content article header h2 {
  font-size: 1.88235em;
  line-height: 1.625em;
  color: #e8e8e8;
  border-bottom: 3px solid #1f8aa8;
  font-family: "Roboto Condensed", sans-serif;
}
/* line 52, ../sass/content.scss */
#content article .post_content {
  padding-right: 90px;
}
/* line 55, ../sass/content.scss */
#content article .post_content h3 {
  font-size: 1.41176em;
  line-height: 2.16667em;
  color: #15bae8;
  font-family: "Roboto Condensed", sans-serif;
}
/* line 62, ../sass/content.scss */
#content article .post_content p {
  margin-top: 0em;
  padding-top: 0.45882em;
  padding-bottom: 0.45882em;
  margin-bottom: 0em;
  color: #e8e8e8;
}
/* line 68, ../sass/content.scss */
#content article .post_content ul {
  list-style-type: disc;
  margin-left: 25px;
  color: #e8e8e8;
}
/* line 75, ../sass/content.scss */
#content article .post_content img {
  height: auto;
  width: 100%;
}
/* line 81, ../sass/content.scss */
#content article .post_content a {
  color: #15bae8;
  text-decoration: none;
}
/* line 86, ../sass/content.scss */
#content article .post_content a:hover {
  color: #1f8aa8;
}
/* line 92, ../sass/content.scss */
#content article .post_content blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  width: 500px;
  position: relative;
  background-color: #3a3a3a;
  padding: 0px 48px;
  margin-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 1em;
  line-height: 1.52941em;
  margin-top: 1.52941em;
  padding-top: 0.35176em;
  padding-bottom: 0.35176em;
  margin-bottom: 1.52941em;
}
/* line 105, ../sass/content.scss */
#content article .post_content blockquote:before {
  color: #15bae8;
  content: "\201C";
  font-size: 4.82353em;
  line-height: 1.26829em;
  position: absolute;
  left: 8px;
  top: -8px;
}
/* line 121, ../sass/content.scss */
#content article footer p {
  font-style: italic;
  color: #1f8aa8;
  font-size: 0.70588em;
  line-height: 2.16667em;
}

/* line 131, ../sass/content.scss */
#footer {
  padding: 10px 0;
}
/* line 134, ../sass/content.scss */
#footer p {
  color: #e8e8e8;
}
/* line 139, ../sass/content.scss */
#footer a {
  color: #15bae8;
  text-decoration: none;
}
/* line 144, ../sass/content.scss */
#footer a:hover {
  color: #1f8aa8;
}

/* line 151, ../sass/content.scss */
.white {
  color: #fff;
}

/* line 156, ../sass/content.scss */
.bold {
  font-weight: bold;
}
