$base-font-size: 17px;
$base-line-height: 26px;
$main-blue: #15bae8;
$sub-blue: #1f8aa8;
$content-beige: #E8E8E8;

@import "compass/css3/border-radius";
@include establish-baseline;

body
{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header
{
   a
   {
       text-decoration: none;
       
       h1
       {
           color:$main-blue;
	   @include adjust-font-size-to(72px);
           font-family: 'Roboto Condensed', sans-serif;
       }
   }
}

#content
{
   article
   {
       header
       {
           a
           {
               text-decoration:none;
           }
        
           h2
           {
               @include adjust-font-size-to(32px);
               color:$content-beige;
	       border-bottom:3px solid $sub-blue;
	       font-family:"Roboto Condensed", sans-serif;  
           }

       }

       .post_content
       {
	    padding-right:90px;	    
            h3
            {
		 @include adjust-font-size-to(24px);
		 color:$sub-blue;
		 font-family:"Roboto Condensed", sans-serif;
            }
 
            p
            {
		 @include rhythm(0, 0.3, 0.3, 0, $base-font-size);
                 color:$content-beige;
            }

            ul
            {
                 list-style-type: disc;
                 margin-left:25px;
		 color:$content-beige;
            }

            img
	    {
		 height:auto;
		 width:100%;
            }

	    a
	    {
		 color:$sub-blue;
                 text-decoration: none;

                 &:hover
                 {
                 	color:$main-blue;
                 }
            }
	    
	    blockquote
	    {
		font-family: Georgia, serif;
		font-style: italic;
		width:500px;
		position:relative;
		background-color:rgb(58, 58, 58);
		padding:0px 48px;
		margin-left:20px;
		@include border-radius(10px);
		@include adjust-font-size-to($base-font-size);
		@include rhythm(1,0.23,0.23,1, $base-font-size);	
			
		&:before
		{
			color: $main-blue;
			content: "\201C";
			@include adjust-font-size-to(82px);
			position:absolute;
			left:8px;
			top:-8px;
			
		}
            }


       }
       footer
       {
           p
           {
               font-style:italic;
	       color:$sub-blue;
               @include adjust-font-size-to(12px);
           }
       }
   }
}

.white
{
   color:#fff;
}

.bold
{
   font-weight:bold;
}
