body
{
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header
{
   a
   {
       text-decoration: none;
       
       h1
       {
           color:#15bae8;
           font-size:4em;
           font-family: 'Roboto Condensed', sans-serif;;
       }
   }
}

#content
{
   article
   {
       padding:10px;

       header
       {
           a
           {
               text-decoration:none;
           }
        
           h2
           {
               font-size:1.8em;
               color:#15bae8;  
           }

           p
           {
               font-style: italic;
               margin:3px;
	       font-size:0.8em;
	       color:#fff;
           }
       }

       .post_content
       {

            h3
            {
                 font-size:1.4em;
                 margin: 10px 0px;
		 color:#1f8aa8;
            }
 
            p
            {
                 padding:5px;
		 line-height: 25px;
                 color:#fff;
            }

            ul
            {
                 list-style-type: disc;
                 margin-left:25px;
		 color:#fff;

		 li
		 {
			line-height:25px;
                 }
            }

            img
	    {
		 height:auto;
		 width:100%;
            }

	    a
	    {
		 color:#1f8aa8;
                 text-decoration: none;

                 &:hover
                 {
                 	color:#15bae8;
                 }
            }

       }
       footer
       {
           p
           {
               font-style:italic;
               font-size:0.7em;
		color:#fff;
           }
       }
   }
}
