body
{
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header
{
   a
   {
       text-decoration: none;
       
       h1
       {
           color:#fff;
           font-size:2em;
           font-weight:bold;
       }
   }
}

#content
{
   article
   {
       border:1px solid #000;
       padding:10px;

       header
       {
           background-color:#fff;
           a
           {
               text-decoration:none;
           }
        
           h2
           {
               font-size:1.8em;
               color:#000;  
           }

           p
           {
               font-style: italic;
               margin:3px;
	       font-size:0.8em;
           }
       }

       .post_content
       {

            h3
            {
                 font-size:1.4em;
                 margin: 5px 0px;
            }
 
            p
            {
                 padding:5px;
		 line-height: 23px;
            }

            ul
            {
                 list-style-type: disc;
                 margin-left:25px;
            }

            img
	    {
		 height:auto;
		 width:100%;
            }

       }
       footer
       {
           p
           {
               font-style:italic;
               font-size:0.7em;
           }
       }
   }
}
