@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";

body
{
   background-color:rgb(51, 51, 51);

   header
   {
       width:100%;
       margin-bottom:10px;
       .title
       {
           margin:0 auto;
           width:75%;
           max-width:900px;

	   h1
	   {
		@include rhythm(1,0,0,1,72px)
           }
       }
   }

   #content
   {
       width:75%;
       max-width:900px;
       margin:0 auto;

       article
       {
           margin:10px 0px 40px 0px;
	   padding-bottom: 30px;
       }

   }

  #footer
   {
	width:100%;
        background-color: rgb(61,61,61);
        @include single-box-shadow;
	.content
	{
	    width:75%;
	    max-width:900px;
	    margin:0 auto;
	    postion:relative;
	    @include clearfix;

	    img
	    {
		float:left;
		margin-top:10px; 
            }
            #about-me
            {
                max-width:57%;
		float:left;
		margin:10px 2%;
            }
	
		#social
		{
	    	    float:left;
		    li
		    {
			margin-top:10px;
		    }


		    .rss,
		    .twitter,
		    .fb
		    {
			display:block;
			height:35px;
			padding:4px 0 0 35px;
		    }

		    .fb
		    {
			background:url(/media/style/fb-icon.png) no-repeat 0 0;
		    }
		
		    .twitter
		    {
			background:url(/media/style/twitter-icon.png) no-repeat 0 0;
   		    }
		    
		    .rss
		    {
			background:url(/media/style/rss.png) no-repeat 0 0;
		    }

		}
	}
   }
}
