body
{
   background-color:rgb(41, 41, 41);

   header
   {
       width:100%;
       margin-bottom:10px;
       .title
       {
           margin:0 auto;
           width:75%;
           max-width:900px;

	   h1
	   {
		@include rhythm(1,0,0,1,72px)
           }
       }
   }

   #content
   {
       width:75%;
       max-width:900px;
       margin:0 auto;

       article
       {
           margin:10px 0px 40px 0px;
	   padding-bottom: 30px;
       }
   }
}
