<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <title>
      {% block title %}{% endblock %}
    </title>
    </head>
  <body>

    <header>
       <div class="title">
	   <a href="/">
               <h1><span class="white">alex</span><span class="bold">Happens</span></h1>
           </a>
       </div>
    </header>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer id="footer">
        <div class="content">
		<img src="/media/style/footer-me.png" alt="Me!" />
		<p>My name is Alex Kruzewski, I'm a web developer based where ever I want. Currently I'm living in Poland, but who know where things will take me. This blog was built by me to talk about my interests like computing, coffee, tech and living in Poland.</p>
		<ul id="social">
			<li>
			    <a class="fb" href="http://www.facebook.com/akruzewski" target="_blank">
                                Facebook
			   </a>
			</li>
			<li>
			    <a class="twitter" href="https://twitter.com/atkay" target="_blank">
			    Twitter
			    </a>
			</li>
		</ul>
	</div>
    </footer>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-39564382-1', 'alexhappens.com');
  	ga('send', 'pageview');

  </script>
  </body>
</html>


