<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <title>
      {% block title %}{% endblock %}
    </title>
    </head>
  <body>

    <header>
       <div class="title">
	   <a href="/">
               <h1><span class="white">alex</span><span class="bold">Happens</span></h1>
           </a>
       </div>
    </header>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer id="footer">
        <div class="content">
		<img src="/media/style/footer-me.png" alt="Me!" />
		<div id="about-me">
		<p>My name is Alex Kruzewski, I'm a web developer!</p>
		<p>Currently based in Poland, this blog is about my experiances in this country. I'll also blog about how I'm building this blog, tech interests, gadgets, photography, coffee and whatever weird and wonderfull things pop into my head</p>
		<p>You can contact me via <a href="mailto:a.t.kruzewski@gmail.com">email</a> or follow me on the social networks to the right.</p>
		</div>
		<ul id="social">
			<li>
			    <a class="fb" href="http://www.facebook.com/akruzewski" target="_blank">
                                Facebook
			   </a>
			</li>
			<li>
			    <a class="twitter" href="https://twitter.com/atkay" target="_blank">
			    Twitter
			    </a>
			</li>
		</ul>
	</div>
    </footer>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-39564382-1', 'alexhappens.com');
  	ga('send', 'pageview');

  </script>
  </body>
</html>


