{% extends 'blog/base.html' %}

{% block title %} Welcome to KBlog {% endblock %}

{% block content %}

   {% for post in published_blog_posts %}
       <div class="post">
           <a href="{{ post.get_absolute_url }}">
               <h2>{{ post.title }}</h2>
           </a>

	   <div class="post_content">
               <p>{{ post.html_content|safe }}</p>
           </div>

           <p>
               Posted on
               <time dateimte="{{ post.pub_date|date:"c" }}"> 
               {{ post.pub_date|date }}
               </time>
          </p>
      </div>
   {% endfor %}
{% endblock %}
